@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Karla:400,700');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

$titulo: 'Crimson Text', serif;
$secundario: 'Karla', sans-serif;
$bold: 700;
$color_fondo: white;
$color_secundario: rgb(120, 170, 197);

.contenedor{
	max-width: 1400px;
	margin: auto;
}

.menu-inicial{
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.search{
		display: flex;

		a{
			font-size: 23px;
		}

		input{
			margin-left: 8px;
			width: 70px;
			height: 20px;
			border: none;
		}
	}

	.carrito{
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 17px;
		font-family: $secundario;
		font-weight: $bold;

		*{
			margin: 0 5px;
		}

		button{
			background: none;
			border: 1px solid;
			font-family: $secundario;
			font-weight: $bold;
		}
	}
}

.logo{
	width: 150px;

	img{
		width: 100%;
	}
}

nav{
	.contenedor{
		border-bottom: 1px solid grey;
	}

	ul{
		display: flex;
		justify-content: center;
		align-items: center;

		li{
			margin: 20px;
			a{
				text-decoration: none;
				font-family: $secundario;
				font-weight: $bold;
			}
		}
	}
}

main{
	margin-top: 30px;
	.contenedor{
		display: flex;
		justify-content: space-between;
	}
}

.texto-img{
	color: white;
	position: absolute;
	bottom: 37%;
	left: 10%;

	.titulo{
		font-family: $titulo;
		font-weight: $bold;
	}

	.secundario{
		font-family: $secundario;
	}
}


.principal{
	flex: 3;
	.zero{
		position: relative;
		/*width: 1000px;*/
		img{
			width: 100%;
		}
		.texto-img{
			h1{
				font-size: 60px;
				padding: 20px 0;
			}

			h2{
				font-size: 20px;
			}
		}
	}

	.one{
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		margin: auto;

		article{
			position: relative;
			flex: 1;
				
			img{
				width: 100%;
			}

			.texto-img{
				h1{
					font-size: 40px;
					padding: 20px 0;		
				}

				h2{
					font-size: 19px;
				}
			}
		}

		.a1{
			padding-right: 20px;
		}

		.a2{
			padding-left: 20px;
		}
	}

	.producto{
		h2{
			font-family: $secundario;
			font-size: 18px;
			text-align: center;
			text-transform: uppercase;
			margin: 30px 0;
		}

		.galeria{
			display: flex;
			justify-content: space-between;
			margin: 10px 0;

			article{
				flex: 1;
				text-align: center;
				h4{
					font-family: $secundario;
					color: $color_secundario;
					font-weight: $bold;
					text-transform: uppercase;
				}
				h3{
					font-family: $titulo;
					font-weight: $bold;
					font-size: 20px;
				}

				p{
					font-family: $secundario;
				}

				h4, h3, p{
					margin: 20px 0;
				}

				img{
					width: 100%;
				}
			}
		}
	}

	.welcome{
		h2{
			font-family: $titulo;
			font-weight: $bold;
			font-size: 25px;
		}

		article{
			display: flex;
			justify-content: space-between;
			align-items: center;

			div{
				flex: 1;
				img{
					width: 100%;
				}
			}

			p{
				flex: 1;
				font-family: $secundario;
				font-size: 15px;
			}
		}
	}
}

aside{
	flex: 1;
	h2{
		font-family: $titulo;
		font-size: 20px;
		margin-bottom: 6px;
	}
	h3{
		font-family: $secundario;
		font-size: 15px;
		font-weight: $bold;
		color: $color_secundario;
		padding: 10px 0;
	}

	ul{
		font-family: $secundario;
		font-size: 15px;

		li{
			padding: 6px 0;
			margin-left: 20px;
		}
	}
}

footer{
	h2{
		font-family: $secundario;
		font-weight: $bold;
		font-size: 18px;
		text-transform: uppercase;
		padding: 15px 0;
	}

	.contenedor{
		display: flex;
		justify-content: space-between;
		border-top: 1px solid grey;
		padding: 20px 0;

		article{
			flex: 1;
			input{
				width: 100%;
				height: 30px;
			}
		}
	}

	ul{
		li{
			padding: 10px 0;
			font-family: $secundario;
		}
	}

	.social{
		ul{
			display: flex;
			align-items: center;

			li{
				margin: 0 10px;

				a{
					font-size: 30px;
					text-decoration: none;
					color: black;

					&:hover{
						color: $color_secundario;
					}
				}
			}
		}
	}
}