@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|family=Oswald:700");
h2 {
  font-size: 3em;
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 0;
  text-align: center; }

h3 {
  font-size: 3em;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  color: white;
  margin: 0; }

h4 {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
  text-align: justify;
  line-height: 1.2;
  color: #867E7C; }

h2::first-letter {
  text-transform: capitalize; }

.subrayado {
  display: inline-block;
  color: black;
  text-decoration: none; }

.subrayado::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s; }

.subrayado:hover::after {
  width: 100%; }

nav, footer .sectSocial .social, footer .sectNavFooter .navFooter {
  display: flex;
  justify-content: flex-start; }
  nav ul, footer .sectSocial .social ul, footer .sectNavFooter .navFooter ul {
    display: flex;
    list-style: none;
    padding: 0; }
    nav ul a, footer .sectSocial .social ul a, footer .sectNavFooter .navFooter ul a {
      display: block;
      text-decoration: none;
      padding: .5em 1em;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 13px;
      color: black; }

.ion-social-facebook:hover {
  opacity: 0.7;
  color: #3b5998; }

.ion-social-youtube:hover {
  opacity: 0.7;
  color: #ff0000; }

.aListen:hover {
  opacity: 0.6; }

.aBuy:hover {
  opacity: 0.6; }

.point {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #E4DCDA;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center; }

small {
  font-size: 14px; }

/* Header */
header {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  background-color: #958178; }
  header section {
    display: flex;
    margin-top: 20px; }
  header h1 {
    margin: auto;
    font-size: 4em;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase; }
    header h1 span {
      display: block;
      color: white; }

/* Body */
div {
  display: flex; }

p, .sectMusic .leftMusic th, .sectMusic .leftMusic td, .sectMusic .rightMusic th, .sectMusic .rightMusic td {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
  padding: 10px 10px;
  text-align: justify;
  line-height: 1.2;
  color: #867E7C; }

.imgLeft {
  height: auto; }

article h2 {
  font-size: 1.7em;
  padding: 10px 10px;
  width: 100%; }

.button, .aListen, .aBuy {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 7px 17px;
  font-size: 12px; }

.aListen {
  background-color: #E4DCDA;
  color: #867E7C; }

.aBuy {
  background-color: #958178;
  color: white; }

.noSelect {
  color: #E4DCDA; }

/* Section sectCurt */
.sectCurt {
  display: flex;
  justify-content: space-evenly;
  padding: 4% 7em 0 7em;
  background-color: #f3efee; }
  .sectCurt .artCurt {
    display: flex;
    flex-wrap: wrap;
    padding: 10%; }

/* Section sectMusic */
.sectMusic {
  display: flex;
  padding: 4% 7em;
  background-color: #F8F8F8; }
  .sectMusic .leftMusic {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sectMusic .leftMusic img {
      width: 50%; }
    .sectMusic .leftMusic h2 {
      text-align: left;
      margin: 20px 0; }
    .sectMusic .leftMusic table {
      align-self: left;
      border-collapse: collapse;
      width: 80%; }
    .sectMusic .leftMusic th, .sectMusic .leftMusic td {
      padding: 8px;
      text-align: left; }
  .sectMusic .rightMusic {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sectMusic .rightMusic h2 {
      text-align: left;
      margin: 20px 0; }
    .sectMusic .rightMusic h4 {
      width: 100%;
      margin: 10px;
      font-size: 0.8em;
      font-weight: bold; }
    .sectMusic .rightMusic p, .sectMusic .rightMusic th, .sectMusic .rightMusic td {
      font-style: italic;
      width: 100%; }
    .sectMusic .rightMusic table {
      align-self: left;
      border-collapse: collapse;
      width: 100%; }
    .sectMusic .rightMusic th, .sectMusic .rightMusic td {
      padding: 1px;
      text-align: left;
      text-transform: capitalize;
      width: 0%;
      font-size: small; }

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #958178;
  padding: 0px 7em; }
  footer .sectFooter {
    display: flex;
    flex-direction: column;
    padding-top: 1em; }
    footer .sectFooter h2 {
      margin-top: 30px; }
    footer .sectFooter h3 {
      margin-bottom: 15px; }
    footer .sectFooter hr {
      border-top: 2px dotted white;
      border-bottom: none;
      width: 45%; }
  footer .sectSocial {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    footer .sectSocial .spanSuscribe {
      display: flex;
      flex-flow: row wrap;
      height: 32px;
      margin: 30px 0; }
      footer .sectSocial .spanSuscribe span {
        color: white;
        background: black;
        font-size: 1.3em;
        font-family: "Open Sans Condensed", sans-serif;
        padding: 5px; }
      footer .sectSocial .spanSuscribe input {
        background: none;
        border: solid 3px black; }
    footer .sectSocial .social ul a {
      font-size: 45px;
      padding: .5em .5em; }
  footer .sectNavFooter {
    display: flex;
    flex-direction: row; }
    footer .sectNavFooter small {
      color: white;
      font-family: "Open Sans Condensed", sans-serif;
      width: 50%;
      line-height: 1.2; }
    footer .sectNavFooter .navFooter {
      width: 50%;
      justify-content: center; }
      footer .sectNavFooter .navFooter .subrayado {
        color: white; }
      footer .sectNavFooter .navFooter .subrayado::after {
        background: white; }
      footer .sectNavFooter .navFooter ul li a {
        color: white; }
  footer div {
    display: flex;
    justify-content: center; }
    footer div .imagenFooter {
      float: left;
      margin-bottom: -26px; }

/* pantallas chicas */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column; }
    header h1 {
      padding: 1em 0;
      font-size: 2em; }
    header .guitarra {
      display: none; }
  .sectCurt {
    flex-direction: column;
    padding: 0;
    height: auto; }
    .sectCurt .imgLeft {
      height: auto;
      max-width: 100%; }
  .sectMusic {
    flex-direction: column;
    padding: 0;
    height: auto; }
  footer {
    flex-direction: column;
    padding: 0; }
    footer h2 {
      font-size: 2em; }
    footer h3 {
      font-size: 1.1em; }
    footer .sectNavFooter {
      flex-direction: column; }
      footer .sectNavFooter small {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%; }
      footer .sectNavFooter .navFooter {
        justify-content: center;
        float: none;
        width: 100%; }
    footer .imagenFooter {
      display: none; } }
