$color-background: #958178;
$color-background-section: #f3efee;

$color-h3: white;
$color-p: #867E7C;
$color-youtube: #ff0000;
$color-facebook: #3b5998;

$font-family-Principal: 'Open Sans Condensed', sans-serif;
$font-family-Secundaria: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
